// Colors

$txt:		#333333;
$txt-light:	#AAAAAA;
$bg:		#F8FAFC;
$hl:		#D99966;
$hl-light:	#F5D0B2;
$hl-text:	#8B5F3C;
$border:	#DDDDDD;

// Fonts 

$font-sans: "franklin-gothic-urw", Helvetica, sans-serif;
$font-serif: "garamond-premier-pro-caption", Georgia, serif;